---
---

/* Variables */

$theme-primary: black;
$theme-secondary: white;
$major-spacing: 1em;
$minor-spacing: $major-spacing / 2;
$hide-header-animation-time: 200ms;
$hide-nav-animation-time: 400ms;
$show-header-animation-time: 200ms;
$delay: 200ms;
$minimum-tappable-length: 44px;
$font-primary: black;
$font-secondary: white;
$font-regular-size: 18px;
$font-small-size: 12px;
$alternative-background: rgb(232, 232, 232);
$title-character-count: 18;
$title-character-delay: 30ms;
$title-character-animation-time: 200ms;
$title-total-animation-time: $title-character-count * $title-character-delay +
    $title-character-animation-time;

/* Placeholders */

%button {
  background-color: $theme-secondary;
  color: $theme-primary;
  border: none;
  font-size: $font-regular-size;
  line-height: 100%;
  padding: $minor-spacing;
  margin: $minor-spacing;
}

%nav__item {
  height: 3em;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  align-items: center;
  &:not(:last-child) {
    border-bottom: 1px solid $theme-secondary;
  }
}

/* Elements */

body {
  /* https://css-tricks.com/why-ems/ */
  font-size: 18px;
  font-family: Sans-Serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Classes */

.content {
  min-height: 75vh;
  margin-top: 3em;
  padding: $major-spacing;
  max-width: 700px;
  h2 {
    font-size: 1.3em;
  }
  ul {
    padding-left: $major-spacing + $minor-spacing;
  }
}

.content__button {
  background-color: $theme-primary;
  color: $theme-secondary;
  font-size: 1em;
  border: none;
  padding: $minor-spacing;
}

.content__quote {
  background-color: $alternative-background;
  font-style: italic;
  padding: $minor-spacing;
  margin: 0;
}

.content__date {
  font-style: italic;
}

.content__img {
  max-width: 100%;
}

.content__leader {
  float: left;
  max-width: 25vw;
}

.content__quote-list {
  margin-top: 0;
}

.content__summary {
  font-style: italic;
  background-color: $alternative-background;
  padding: $minor-spacing;
}

.content__title {
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.footer {
  border-top: 1px solid $theme-primary;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  /* Use em to be able to resize text on scroll */
  height: 3em;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  background-color: $theme-primary;
}

.header--hidden {
  transform: translateY(-100%);
  transition: all $hide-header-animation-time ease;
  transition-delay: $title-total-animation-time + $delay;
}

.header--visible {
  transform: none;
  transition: all 500ms ease;
  transition-delay: $show-header-animation-time + $delay;
}

.header__menu {
  @extend %button;
}

.header__title {
  font-size: 1em;
  font-weight: normal;
  margin: $major-spacing;
  color: $font-secondary;
}

.header__title-link {
  color: $theme-secondary;
  text-decoration: none;
  &:visited {
    color: $theme-secondary;
  }
}

.header__title-text {
  display: inline-block;
  transition: all 200ms ease;
  /* http://blog.teamtreehouse.com/sass-tip-double-ampersand-selector */
  .header__title--hidden & {
    transform: translateY(-400%);
  }
  .header__title--visible & {
    transform: none;
  }
}

@for $i from 1 through $title-character-count {
  .header__title-text-#{$i} {
    .header__title--hidden & {
      transition-delay: $i * $title-character-delay;
    }
    /* Showing the header title characters is the last component of the animation. Must wait
       for following before initiating:
       1. Nav menu animation.
       2. Delay.
       3. Header animation.
       4. Delay. 
       5. Animations of previous title characters. */
    .header__title--visible & {
      transition-delay: $hide-nav-animation-time + $delay + $show-header-animation-time + $delay +
          ($i * $title-character-delay);
    }
  }
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $theme-primary;
  height: 12em;
  width: 100vw;
}

.nav--hidden {
  transform: translateY(-100%);
  transition: all $hide-nav-animation-time ease;
}

.nav--visible {
  transform: none;
  transition: all 400ms ease;
  transition-delay: $title-total-animation-time + $delay + $hide-header-animation-time +
      $delay;
}

.nav__close {
  @extend %button;
}

.nav__header {
  @extend %nav__item;
  justify-content: flex-end;
}

.nav__item {
  @extend %nav__item;
}

.nav__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $theme-secondary;
  flex-grow: 1;
  width: 100%;
  padding-left: $major-spacing;
  line-height: 100%;
  &:visited {
    color: $theme-secondary;
  }
}

.nav__link-text {

}

.nav__list {
  margin: 0;
  padding: 0;
}

.post {
  min-height: 50px;
}

.post__date {
  font-size: 0.8em;
  font-style: italic;
}

.post__link {
  text-decoration: none;
  color: $font-primary;
}

.post__summary {
  font-style: italic;
  font-size: 0.8em;
  background-color: $alternative-background;
  padding: $minor-spacing;
}

.posts {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (min-width: 1000px) {
  body {
    flex-wrap: wrap;
  }
  .content {
    max-width: 700px;
  }
  .content__leader {
    max-width: 15vw;
  }
  .header__menu {
    display: none;
  }
  .nav {
    position: fixed;
    /* (width of header) + (padding-top of content) */
    top: 4em;
    left: 700px;
    margin-left: $major-spacing * 2;
    max-width: 246px;
    background-color: $alternative-background;
    height: auto;
  }
  .nav__header {
    display: none;
  }
  .nav__item {
    display: block;
    height: auto;
    border: none;
    &:not(:last-child) {
      border-bottom: none;
    }
  }
  .nav__link {
    display: inline-block;
    width: auto;
    padding: 0;
    margin: $minor-spacing;
  }
  .nav__link-text {
    color: $theme-primary;
  }
}
