---
---

/* Variables */

$theme-primary: black;
$theme-secondary: white;
$major-spacing: 1em;
$minor-spacing: $major-spacing / 2;
$minimum-tappable-length: 44px;
$font-primary: black;
$font-secondary: white;
$font-regular-size: 18px;
$font-small-size: 12px;
$alternative-background: rgb(232, 232, 232);

/* Placeholders */

%button {
  background-color: $theme-secondary;
  color: $theme-primary;
  border: none;
  font-size: $font-regular-size;
  line-height: 100%;
  padding: $minor-spacing;
  margin: $minor-spacing;
}

/* Elements */

body {
  /* https://css-tricks.com/why-ems/ */
  font-size: 18px;
  font-family: Sans-Serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Classes */

.hidden {
  display: none;
}

.content {
  /* Haven't done the math to explain why it's 17.25em. Should move all these
   * values into variables. */
  min-height: calc(100vh - 17.25em);
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  padding: $major-spacing;
  max-width: 700px;
  h2 {
    font-size: 1.3em;
  }
  ul {
    padding-left: $major-spacing + $minor-spacing;
  }
}

.content__aside {
  background-color: $alternative-background;
  padding: $major-spacing;
}

.content__button {
  background-color: $theme-primary;
  color: $theme-secondary;
  font-size: 1em;
  border: none;
  padding: $minor-spacing;
  &:active {
    background-color: $theme-secondary;
    color: $theme-primary;
  }
}

.content__quote {
  background-color: $alternative-background;
  font-style: italic;
  padding: $minor-spacing;
  margin: 0;
}

.content__date {
  font-style: italic;
}

.content__img {
  max-width: 100%;
}

.content__leader {
  float: left;
  max-width: 25vw;
}

.content__quote-list {
  margin-top: 0;
}

.content__summary {
  font-style: italic;
  background-color: $alternative-background;
  padding: $minor-spacing;
}

.content__title {
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.footer {
  border-top: 1px solid $theme-primary;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: $theme-primary;
  height: 3em;
}

.footer__text {
  font-size: 1em;
  color: $theme-secondary;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  /* Use em to be able to resize text on scroll */
  height: 3em;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-color: $theme-primary;
}

.header__title {
  font-size: 1em;
  font-weight: normal;
  margin: $major-spacing;
  color: $font-secondary;
}

.header__title-link {
  color: $theme-secondary;
  text-decoration: none;
  &:visited {
    color: $theme-secondary;
  }
}

.nav {
  background-color: $theme-primary;
  width: 100vw;
}

.nav__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid $theme-secondary;
}

.nav__link {
  display: block;
  text-decoration: none;
  color: $theme-secondary;
  text-align: center;
  &:visited {
    color: $theme-secondary;
  }
}

.nav__list {
  margin: 0;
  padding: 0;
}

.post {
  min-height: 50px;
}

.post__date {
  font-size: 0.8em;
  font-style: italic;
}

.post__link {
  text-decoration: none;
  color: $font-primary;
}

.post__summary {
  font-style: italic;
  font-size: 0.8em;
  background-color: $alternative-background;
  padding: $minor-spacing;
}

.posts {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (min-width: 1000px) {
  body {
    flex-wrap: wrap;
  }
  .content {
    max-width: 700px;
    /* TODO figure out why it's 11.25em and move the values to variables */
    min-height: calc(100vh - 11.25em);
    margin-left: auto;
    margin-right: auto;
  }
  .content__leader {
    max-width: 15vw;
  }
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
  }
  .nav__item {
    height: 1em;
    display: inline;
    margin: 0 $major-spacing 0 $major-spacing;
    border-bottom: none;
  }
  .nav__link {
    display: inline;
  }
}
