---
layout: default
js: 
- post
css:
- post
---
<h1 class="content__title">{{ page.title }}</h1>
{% if page.date %}
<p class="content__date">{{ page.date | date: '%B %d, %Y' }}</p>
{% endif %}
{% if page.summary %}
<p class="content__summary">{{ page.summary }}</p>
{% endif %}
{{ content }}
<aside class="content__aside offline">
  <p>
    My fancy algorithms detect that you can save this site for offline
    viewing. Want to try it?
  </p>
  <button class="content__button offline__yes">
    Save for offline
  </button>
  <button class="content__button offline__no">
    Never show again
  </button>
  <p class="offline__response offline__yes-response">
    Sweet. Email me at <code>kaycebasques@gmail.com</code> or tweet me
    at <a href="https://twitter.com/kaycebasques">@kaycebasques</a> and
    let me know how it goes.
  </p>
  <p class="offline__response offline__no-response">
    Fine, be that way! Just kidding, that's cool. I don't really care, I'm
    just experimenting with it :)
  </p>
</aside>
